<div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Leitores ativos</div>
        <div class="number">876</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Aumentou em relação a ontem</span>
        </div>
      </div>
      <i class='bx bxs-book cart two'></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Livros em empréstimo</div>
        <div class="number">576</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Aumentou em relação a ontem</span>
        </div>
      </div>
      <i class='bx bx-book cart three'></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Livros na biblioteca</div>
        <div class="number">1000</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Aumentou em relação a ontem</span>
        </div>
      </div>
      <i class='bx bx-book cart'></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Livros devolvidos</div>
        <div class="number">276</div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Diminuiu em relação a ontem</span>
        </div>
      </div>
      <i class='bx bx-book cart four'></i>
    </div>
  </div>