<div class="top-sales box">
  <div class="title">Livros mais emprestados</div>
  <ul class="top-sales-details">
    <li>
      <a href="#">
        <!--<img src="images/sunglasses.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!--<img src="images/jeans.jpg" alt="">-->
        <span class="product">Harry Potter </span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!-- <img src="images/nike.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!--<img src="images/scarves.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!--<img src="images/blueBag.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!--<img src="images/bag.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    <li>
      <a href="#">
        <!--<img src="images/addidas.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
    <li>
      <a href="#">
        <!--<img src="images/shirt.jpg" alt="">-->
        <span class="product">Harry Potter</span>
      </a>
      <span class="price">5 vezes</span>
    </li>
  </ul>
</div>
</div>