<% if(erro != '') { %>
    <div class="erro">
    <p ><strong><%=erro%></strong></p>
    </div>
    <% } %>
   
<% if(sucess != '') { %>
       <div class="sucess">
       <p ><strong><%=sucess%></strong></p>
       </div>
 <% } %>