  <!-- A sidebar -->
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-book pointer'></i>
      <span class="logo_name pointer">Biblioteca</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/cadastrarLeitor">
          <i class='bx bx-list-ul'></i>
          <span class="links_name"> Cadastrar Leitor</span>
        </a>
      </li>
      <li>
        <a href="/categorias/cadastrar">
          <i class='bx bxs-book'></i>
          <span class="links_name"> Cadastrar Categoria</span>
        </a>
      </li>
      <li>
        <a href="/categorias">
          <i class='bx bx bx-box'></i>
          <span class="links_name"> Todas as Categorias</span>
        </a>
      </li>
      <li>
        <a href="/cadastrarObra">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Cadastrar Obra</span>
        </a>
      </li>
      <li>
        <a href="/todosLeitores">
          <i class='bx bx-box'></i>
          <span class="links_name">Todos os Leitores</span>
        </a>
      </li>
      <li>
        <a href="/todasObras">
          <i class='bx bx-coin-stack'></i>
          <span class="links_name">Todas as obras</span>
        </a>
      </li>
      <li>
        <a href="/emprestimo/index">
          <i class='bx bx-box'></i>
          <span class="links_name">Realizar Empréstimo</span>
        </a>
      </li>
      <li>
        <a href="/emprestimo/todos">
          <i class='bx bxs-book'></i>
          <span class="links_name">Todos os Empréstimos</span>
        </a>
      </li>
      <li class="log_out">
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Sair</span>
        </a>
      </li>
    </ul>
  </div>