<%- include('generalIncludes/head')%>
    <div class="login">
        <h1>Sistema</h1>

        <form action="/login" method="POST">

            <label for="">Usuario</label>
            <input type="email" name="email">

            <label for="">Senha</label>
            <input type="password" name="password">

            <button type="submit"> Entrar </button>

        </form>

    </div>
<%- include('generalIncludes/footer')%>